*,
*:before,
*after {
    box-sizing: border-box;
}

:root {
    --primary: #444;
    --light: #fff;
    --dark: #171717;
    --shadow: 0 1px 5px rgba(247, 247, 247, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Inconsolata;
    color: var(--dark);
}

body {
    background: #353535;
    margin: 30px 50px;
    line-height: 1.4;
}


#slider {
    position: relative;
    overflow: hidden;
    margin: 10px auto 0 auto;
    border-radius: 4px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
  



  #app {
    position: relative;
  }
  .tns-item {
    font-size: 3rem;
    font-family: Arial;
    text-align: center;
    padding: 2em;
    background:#fafafb;
  }
  .tns-item:nth-child(odd) {  
    background: #c8e1ff;
  }


  

.btn {
    background: var(--primary);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}



a {  
    text-decoration: none;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
}
.main-nav ul {
    display: grid;
    grid-gap: 15px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(8, 1fr);
    margin: 25px 10px;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--light);
    color: var(--primary);
}

@media (min-width: 700px) {
    .broody {
        padding: 0px;
        margin: 0px auto;
        /* Style for "Background" */
        width: 1200px;
        border-style: solid;
        border-color: grey;
    }
    .header {
        /* Style for "Rect Heade" */
        width: 1200px;
        height: 300px;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 0rem;
        padding-top: 1px;
    }
    .logo {
        /* Style for "Logo Sushi" */
        width: 210px;
        height: 191px;
        margin: 0 auto;
        padding-top: 0rem;
        margin-top: 0rem;
    }
    .links {
        /* Style for "HOME  CODI" */
        width: 1133px;
        height: 24px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 25px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        padding-left: 4rem;
    }
    .join {
        /* Style for "Rectangle" */
        width: 1036px;
        height: 138px;
        border: 3px dashed #ffffff;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 2.5rem;
    }
    .join-text {
        /* Style for "JOIN US" */
        display: grid;
        width: 258px;
        height: 48px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 72px;
        font-weight: 600;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -6.1rem;
    }
    .sushibody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "coding-rect contest-rect" "design-rect contest-rect" "documentation-rect contest-rect" "footer-rect footer-rect";
        height: 1300px;
    }
    .discord {
        /* padding: 10rem auto; */
        margin-top: 0px auto;
        margin-left: 5px;
        text-align: center;
    }
    .coding-rect {
        /* Style for "Rect Desig" */
        grid-area: coding-rect;
        width: 366px;
        height: 318px;
        border: 3px solid #ffffff;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 13rem;
        margin-left: 5rem;
    }
    .coding-text {
        /* Style for "CODING" */
        grid-area: coding-rect;
        width: 141px;
        height: 33px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 48px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -5rem;
        margin-left: 12rem;
        /* border: 3px solid #ffffff; */
    }

    
    .design-rect {
        /* Style for "Rect Desig" */
        grid-area: design-rect;
        width: 366px;
        height: 318px;
        border: 3px solid #ffffff;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 4rem;
        margin-left: 5rem;
    }
    .design-text {
        /* Style for "CODING" */
        grid-area: design-rect;
        width: 141px;
        height: 33px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 48px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -5rem;
        margin-left: 12rem;
    }
    .documentation-rect {
        grid-area: documentation-rect;
        width: 366px;
        height: 318px;
        border: 3px solid #ffffff;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 4.2rem;
        margin-left: 5rem;
    }
    .documentation-text {
        grid-area: documentation-rect;
        /* Style for "CODING" */
        width: 141px;
        height: 33px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 48px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -5rem;
        margin-left: 14rem;

    }



    .contest-rect {
        /* Style for "Rect Big" */
        grid-area: contest-rect;
        width: 540px;
        height: 1098px;
        border: 3px solid #ffffff;
        background-color: #fa8703;
        margin: 0 auto;
        margin-top: 13rem;
        margin-left: -1.5rem;
    }

    .contest1 {
        margin-top: -500rem;
        grid-area: design-rect;
        width: 290px;
        height: 100px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 48px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: 3.5rem;
        margin-left: 8rem;
        text-align: center;
    }

    .contest-text {
        /* Style for "CODING" */
        grid-area: design-rect;
        width: 290px;
        height: 100px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 48px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -9rem;
        margin-left: 8rem;
        text-align: center;
    }

    .footer-rect {
        /* Style for "Rect Footer" */
        grid-area: footer-rect;
        width: 1200px;
        height: 102px;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .footer-text {
        /* Style for "© 2018 CWC" */
        width: 1200px;
        /* height: px; */
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 20px;
        font-weight: 300;
        line-height: 52.33px;
        text-transform: uppercase;
        /* margin-left: 42%; */
        padding-top: 2rem;
        margin-top: 2rem;
        text-align: center;
    }
    .made-in {
       margin-top: -4.4rem;
       margin-left: -75%;
        
            }

    .socials {
        text-align: center;
        margin: 0 auto;
        margin-top: -4.5rem;
        margin-left: 80%;

    }



}

@media(max-width: 700px) {
    
    .sushibody {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "coding-rect" "design-rect" "documentation-rect" "contest-rect";
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .main-nav ul {
        grid-template-columns: 1fr 1fr;
    }
    .logo {
        text-align: center;
    }

    .join {
        /* Style for "Rectangle" */
        height: 100px;
        border: 3px dashed #ffffff;
        background-color: var(--dark);
        margin: 105px auto;
        margin-top: 2.5rem;
    }
    .join-text {
        /* Style for "JOIN US" */
        display: grid;
        color: var(--light);
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 600;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 3rem auto;
        margin-top: -11.5rem;
        text-align: center;
    }
    
    .coding-rect {
        /* Style for "Rect Desig" */
        grid-area: coding-rect;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        margin: 15px auto;
        text-align: center;
    }
    .coding-text {
        /* Style for "CODING" */
        grid-area: coding-rect;
        height: 60px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -3.5rem;
        text-align: center;
    }
    .design-rect {
        /* Style for "Rect Desig" */
        grid-area: design-rect;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        margin: 15px auto;
        text-align: center;
    }
    .design-text {
        /* Style for "CODING" */
        grid-area: design-rect;
        height: 50px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin-top: -1.5rem;
        text-align: center;
    }
    .documentation-rect {
        grid-area: documentation-rect;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        margin: 15px auto;
        text-align: center;
    }
    .documentation-text {
        grid-area: documentation-rect;
        /* Style for "CODING" */
        height: 50px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 25px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -0.5rem;
        text-align: center;

    }
    .contest-rect {
        /* Style for "Rect Big" */
        grid-area: contest-rect;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        margin: 15px auto;
        text-align: center;
    }
    .footer-rect {
        /* Style for "Rect Footer" */
        grid-area: footer-rect;

        background-color: #171717;

    }
    .footer-text {
        /* Style for "© 2018 CWC" */
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 15px;
        font-weight: 200;
        line-height: 52.33px;
        text-transform: uppercase;
        margin-left: 42%;
        padding-top: 2rem;
        text-align: center;
        margin: 0 auto;        
    }

    .main-nav a {
        background: var(--primary);
    }
    .main-nav a:hover {
        background: var(--dark);
        color: var(--light);
    }
    a {  
        text-decoration: none;
        text-align: center;
        color: var(--light);
        text-transform: uppercase;
    }
}