*,
*:before,
*after {
    box-sizing: border-box;
}

:root {
    --primary: #444;
    --light: #fff;
    --dark: #171717;
    --shadow: 0 1px 5px rgba(247, 247, 247, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Inconsolata;
    color: var(--dark);
}

body {
    background: #353535;
    margin: 30px 50px;
    line-height: 1.4;
}


#slider {
    position: relative;
    overflow: hidden;
    margin: 10px auto 0 auto;
    border-radius: 4px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
    color: orange;
    font-size: 25px;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #2a2a2a;
    text-align: center;
    line-height: 300px;
    font-weight: bold;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
  
  

.btn {
    background: var(--primary);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}



a {  
    text-decoration: none;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
}
.main-nav ul {
    display: grid;
    grid-gap: 15px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(8, 1fr);
    margin: 25px 10px;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--light);
    color: var(--primary);
}

@media (min-width: 700px) {
    .broody {
        padding: 0px;
        margin: 0px auto;
        /* Style for "Background" */
        width: 1200px;
        border-style: solid;
        border-color: grey;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .header {
        /* Style for "Rect Heade" */
        width: 1200px;
        height: 300px;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 0rem;
        padding-top: 1px;
    }
    .logo {
        /* Style for "Logo Sushi" */
        width: 210px;
        height: 191px;
        margin: 0 auto;
        padding-top: 0rem;
        margin-top: 0rem;
    }
    .links {
        /* Style for "HOME  CODI" */
        width: 1133px;
        height: 24px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 25px;
        font-weight: 700;
        line-height: 52.33px;
        text-transform: uppercase;
        padding-left: 4rem;
    }
    .join {
        /* Style for "Rectangle" */
        width: 1036px;
        height: 138px;
        border: 3px dashed #ffffff;
        background-color: #171717;
        margin: 0 auto;
        margin-top: 2.5rem;
    }
    .join-text {
        /* Style for "JOIN US" */
        display: grid;
        width: 258px;
        height: 48px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 72px;
        font-weight: 600;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: -6.1rem;
    }
    .sushibody {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "sushi";
        height: 1357px;
    }

    .sushislider {
        margin: 200px auto;
        text-align: center;

    }

    .discord {
        margin: 0px auto;
        margin-top: -9rem;
    }

    .windows {
        display: grid;
        margin-top: -10rem;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "first second third"

    }

    .windows2 {
        display: grid;
        margin-top: 0rem;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "fourth fifth"

    }

    .firstext, .secondtext, .thirdtext {
        font-size: 15px;
        line-height: 20px;
        margin: 15px 15px 15px 15px;
        margin-top: -1.6rem;
    text-align: justify;
        
    }

    .first {
        grid-area: first;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        margin: 15px auto;
        text-align: center;
        width: 300px;
        height: 300px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 700;
        line-height: 52.33px;
        /* text-transform: uppercase; */
        text-align: center;
    }

.second {
    grid-area: second;
    border: 3px solid #ffffff;
    background-color: var(--dark);
    margin: 15px auto;
    text-align: center;
    width: 300px;
    height: 300px;
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.33px;
    /* text-transform: uppercase; */
    text-align: center;
}

.third {
    grid-area: third;
    border: 3px solid #ffffff;
    background-color: var(--dark);
    margin: 15px auto;
    text-align: center;
    width: 300px;
    height: 300px;
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.33px;
    /* text-transform: uppercase; */
    text-align: center;
}

.fourth {
    grid-area: fourth;
    border: 3px solid #ffffff;
    background-color: var(--dark);
    margin: 15px auto;
    text-align: center;
    width: 500px;
    height: 300px;
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.33px;
    /* text-transform: uppercase; */
    text-align: center;
}

.fifth {
        grid-area: fifth;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        margin: 15px auto;
        text-align: center;
        width: 500px;
        height: 300px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 700;
        line-height: 52.33px;
        /* text-transform: uppercase; */
        text-align: center;
}
.sc {
    text-align: center;
    margin-top: 4.2rem;
}
.cwc {
    margin-top: 2rem;
    text-align: center;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /* padding: 5px; */
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

    .footer-rect {
        /* Style for "Rect Footer" */
        grid-area: footer-rect;
        width: 1200px;
        height: 102px;
        background-color: #171717;
        margin: 0 auto;

    }
    .footer-text {
        /* Style for "© 2018 CWC" */
        width: 1200px;
        /* height: px; */
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 20px;
        font-weight: 300;
        line-height: 52.33px;
        text-transform: uppercase;
        /* margin-left: 42%; */
       padding-top: 2rem;
        margin-top: 2rem;
        text-align: center;
    }
    .made-in {
       margin-top: -4.4rem;
       margin-left: -75%;
        
            }

    .socials {
        text-align: center;
        margin: 0 auto;
        margin-top: -4.5rem;
        margin-left: 80%;

    }



}

@media(max-width: 700px) {
    
    .main-nav ul {
        grid-template-columns: 1fr 1fr;
    }
    .logo {
        text-align: center;
    }

    .join {
        /* Style for "Rectangle" */
        height: 100px;
        border: 3px dashed #ffffff;
        background-color: var(--dark);
        margin: 105px auto;
        margin-top: 2.5rem;
        text-align: center;
    }
    .join-text {
        /* Style for "JOIN US" */
        display: grid;
        color: var(--light);
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 600;
        line-height: 52.33px;
        text-transform: uppercase;
        margin: 3rem auto;
        margin-top: -11.5rem;
        text-align: center;
    }
    
    .main-nav a {
        background: var(--primary);
    }
    .main-nav a:hover {
        background: var(--dark);
        color: var(--light);
    }
    a {  
        text-decoration: none;
        text-align: center;
        color: var(--light);
        text-transform: uppercase;
    }


    #slider {
        position: relative;
        overflow: hidden;
        margin: 10px auto 0 auto;
        border-radius: 4px;
        height: 100px;
      }
      
      #slider ul {
        position: relative;
        margin: 0;
        padding: 0;
        width: 250px;
        height: 300px;
        list-style: none;
        color: orange;
        font-size: 25px;
      }
      
      #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 250px;
        height: 300px;
        background: #2a2a2a;
        text-align: center;
        line-height: 300px;
        font-weight: bold;
      }
      
      a.control_prev, a.control_next {
        position: absolute;
        top: 40%;
        z-index: 999;
        display: block;
        padding: 4% 3%;
        width: auto;
        height: auto;
        background: #2a2a2a;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;
      }
      
      a.control_prev:hover, a.control_next:hover {
        opacity: 1;
        -webkit-transition: all 0.2s ease;
      }
      
      a.control_prev {
        border-radius: 0 2px 2px 0;
      }
      
      a.control_next {
        right: 0;
        border-radius: 2px 0 0 2px;
      }
      
      .slider_option {
        position: relative;
        margin: 10px auto;
        width: 130px;
        font-size: 13px;
      }


      .windows {
        display: grid;
        margin-top: 0.6rem;
        grid-gap: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "first" "second" "third";
        text-align: center;
        margin-left: -1.5rem;
    }
    
    .windows2 {
        margin-left: -1.5rem;
        grid-gap: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "fourth" "fifth";
        text-align: center;
    }

    /* .windows2 {

        display: grid;
        margin-top: 0.6rem;
        grid-gap: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "first" "second" "third";
        text-align: center;
        margin-left: -1.5rem;

    } */


    .firstext, .secondtext, .thirdtext {
        font-size: 15px;
        line-height: 20px;
        margin: 15px 15px 15px 15px;
        margin-top: -1.6rem;
    text-align: justify;
        
    }

    .first {
        grid-area: first;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        /* margin: 15px auto; */
        text-align: center;
        width: 300px;
        height: 300px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 700;
        line-height: 52.33px;

    }

.second {
    grid-area: second;
    border: 3px solid #ffffff;
    background-color: var(--dark);
    /* margin: 15px auto; */
    text-align: center;
    width: 300px;
    height: 300px;
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.33px;

}

.third {
    grid-area: third;
    border: 3px solid #ffffff;
    background-color: var(--dark);
    /* margin: 15px auto; */
    text-align: center;
    width: 300px;
    height: 300px;
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.33px;
}

.fourth {
    grid-area: fourth;
    border: 3px solid #ffffff;
    background-color: var(--dark);
    margin: 25px auto;
    text-align: center;
    width: 300px;
    height: 180px;
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 35px;
    font-weight: 700;
    line-height: 52.33px;
    /* text-transform: uppercase; */
    text-align: center;
}

.fifth {
        grid-area: fifth;
        border: 3px solid #ffffff;
        background-color: var(--dark);
        margin: 15px auto;
        text-align: center;
        width: 300px;
        height: 180px;
        color: #ffffff;
        font-family: Inconsolata;
        font-size: 35px;
        font-weight: 700;
        line-height: 52.33px;
        /* text-transform: uppercase; */
        text-align: center;

}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videowrapper2 {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 2rem;
    margin-bottom: 20rem;
}
.videowrapper2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
}
 
img {
    height: 100%;
    width: 100%;
}

.footer-rect {
    /* Style for "Rect Footer" */
    grid-area: footer-rect;

    background-color: #171717;

}
.footer-text {
    /* Style for "© 2018 CWC" */
    color: #ffffff;
    font-family: Inconsolata;
    font-size: 15px;
    font-weight: 200;
    line-height: 52.33px;
    text-transform: uppercase;
    margin-left: 42%;
    padding-top: 2rem;
    text-align: center;
    margin: 0 auto;        
}

}